:root {
  --color-v1: rgb(232, 240, 156);
  --color-primary: rgb(0, 92, 83);
  --btn-bg : rgb(67, 104, 224);
}

*{

  font-family: "Nunito", sans-serif;
}
main {
  min-height: 100vh;
}

.color-primary {
  color: var(--color-primary);
}
.sub-title-main {
  padding: 15px 4px;
  background: #FFE000;
    border-radius: 10px;
}

.title-main {
  border-bottom: 2px solid white;

  
}

.sub-title-main h3 {
  font-size: 1.3rem;
}

.title-form {
/*  max-width: 600px;*/
}
main,
.section-bg {
  color: white;
 background: url('../../img/elementos/gradiente.webp')



  center bottom/cover no-repeat;
}
.bg-granizo{
    background: url('../../img/elementos/background2.webp')
    center bottom/cover no-repeat !important;
    
}
.bg-proyectos{
    
    margin-bottom: 15px;
    color: white;

    background: linear-gradient(rgba(0, 0, 0, 0.595), rgba(0, 0, 0, 0.7)),  url(../../img/elementos/portada-back.webp)
    center bottom/cover no-repeat !important;
   
}
main img,
.img-responsive {
  width: 100%;
  max-height: 500px;
  object-fit: contain;
}
.form-landing input {
  padding: 10px;
  border-radius: 10px;
}
.w-full {
  width: 100%;
}
.form-landing input::placeholder {
  color: rgb(46, 46, 46);
}
.form-landing > span > button,
.inversion-btn {
  background: #FFE000;
  width: max-content;
  padding: 10px 30px;
  border: none;
  color: dark;
  box-shadow: RGB(37 42 50 / 32%) 0 1px 4px 1px;
  border-radius: 4px;
}
.text-porque-invertir {
  font-size: 3rem;
  color: var(--color-primary);
}
.img-servicios {
  width: 100%;
  max-height: 300px;
}
.title-servicios {
  font-size: 3rem;
}
.img-testimonio {
  width: 100%;
  max-height: 800px;
  object-fit: contain;
}

.container-thanks {
  width: 100%;
  height: 100vh;
}
.text-p-thanks {
  font-size: 2.5rem;
}
.btn-thanks {
  border-radius: 10px;
  color: black;
  text-align: center;
  text-decoration: none;
}
.contador {
  font-size: 5rem;
}
.title-img{
    z-index: 4;
    position: relative;
    max-width: 700px;
}
.title-img img{
    width: 100%;
    height: auto;
    object-fit: contain;
}

.grid-card-proyect{
    padding: 40px 0;
}
.w-70{
    width: 70%;
}
.card-proyecto{
    width: 100%;
}
.container-img-proyect{
/*    height: 200px;*/
}
.card-proyecto p {
    text-align: center;
}

.card-proyecto img{
    /* clip-path: circle(50% at 50% 50%); */
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media (max-width: 700px) {
    .inversion-btn{
        text-align: center;
        max-width: 400px;
    }
    .title-servicios{
        font-size: 1.7rem;
    }
  .text-p-thanks {
    font-size: 1.5rem;
  }
}
