@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

.out-Extrabold{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 800;
    font-size: 1.8rem;
    line-height: 50px;
}

.out-normal{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 30px;
    color: #797979;
}

.out-regular{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 30px;
    color: #797979;
}

.out-semibold{
    margin-bottom: 0;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    line-height: 1.7 !important;
    font-size: 1.4rem;
}

.submit{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 800;
}


@media (max-width: 1198px) {
    .out-semibold {
      font-size: 1.3rem;
    }
  }

