body {
  background: #f2f2f2 !important;
  min-height: 100vh;
}
.color-primary {
  color: #005c53;
}

.color-plomo{
color: #595454;

}


/** styles de main */
.bg-main-img {
  padding: 40px 0;
  background: url(/assets_landings/VENTAS_DE_TU_NEGOCIO.png) center center/cover
    no-repeat;
}
.radius-section {
  border-radius: 20px;
}
/**styled formulario*/
.form-participacion {

  /* max-width: 400px;*/
}
input::placeholder {
  font-size: 0.8rem;
}
.fs-8 {
  font-size: 0.8rem !important;
}
.form-participacion > button {

  width: 100%;
  font-family: var(--font-title);
  font-size: 18px;
  background: linear-gradient(to bottom, #005c53 0%, #00968b 100%);
  color: white;
  padding: 0.4em 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}

.form-participacion > button:hover {
  transform: translateY(-3px);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

.form-participacion > button:active {
  transform: scale(0.95);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.form-participacion > button span {
  display: block;
  margin-left: 0.4em;
  transition: all 0.3s;
}

.form-participacion > button svg {
  width: 18px;
  height: 18px;
  fill: white;
  transition: all 0.3s;
}

.form-participacion > button .svg-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  margin-right: 0.5em;
  transition: all 0.3s;
}

.form-participacion > button:hover .svg-wrapper {
  background-color: rgba(255, 255, 255, 0.5);
}

.form-participacion > button:hover svg {
  transform: rotate(45deg);
}
.form-check-input:checked {
  background-color: #00968b !important;
  border-color: #ffffff !important;
}
.form-control:focus {
  box-shadow: 0 0 0 0.25rem rgba(0, 150, 140, 0.25) !important;
}

.form-control > input {
  border: none;
  outline: none;
}

/** style impulsa ventas de tu negocio*/

.family {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.list-ventas-negocio {
  padding-left: 5px;
  list-style: none;
}

.list-ventas-negocio li:before {
  content: "✓ ";
  color: yellow;
  font-weight: 800;
  font-size: 1.5rem;
}

/**style card 3 hojas */
.card-hoja {
  /* max-width: 350px !important; */
  background: #f2f2f2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}
.card-hoja p {
  font-size: 0.9em;
}
.card-hoja img {
  width: 103px;
  object-fit: contain;
  height: 109px;
}

/**galery bento grid*/
.grid-bento-galery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.grid-bento-galery {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Tres columnas iguales */
  grid-template-rows: auto auto auto;
  grid-gap: 10px; /* Espacio entre los cuadros */
  grid-template-areas:
    "bento1 bento2 bento3"
    "bento4 bento5 "
    "bento6 bento7 bento8";
  margin: 0 auto;
}

.bento1 {
  grid-area: "bento1";
}
.bento2 {
  grid-area: "bento2";
}
.bento3 {
  grid-area: "bento3";
}
.bento4 {
  grid-area: 2 / 1 / span 1 / span 1;
}
.bento5 {
  grid-area: 2 / 2 / span 1 / span 2;
}
.bento6 {
  grid-area: "bento6";
}
.bento7 {
  grid-area: "bento7";
}
.bento8 {
  grid-area: "bento8";
}

/**Style nuestros proyectos*/

.flex-proyectos {
  display: flex;
  gap: 20px;
}

.info-proyectos {
  width: 30%;
}

.swiper {
  padding: 35px 10px;
  height: 100%;
}
.container-swiper {
  padding: 10px;
  width: 75%;
}

.card-proyect {
  background: black;
  border-radius: 10px;
  height: 352px;
}

.card-proyect > .title-span {
  position: absolute;
  right: 0;
  background: white;
  color: black;
  z-index: 2;
  top: -5px;
  border-radius: 20px;
  padding: 2px 10px;
  color: #747474;
}

.card-proyect img{
  opacity: 0.8;
  z-index: 1;
  border-radius: 10px;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-proyect .etiqueta-green {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right:10px;
  padding-top: 8px;
  padding-bottom: 8px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
/*  background: #ccff00;*/
background-color: rgba(0, 92, 83, 0.7);



color:white !important;

  
  z-index: 2;
}

.card-proyect > .bottom-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 10px;
  color: white;
  padding: 10px 0;
}
.card-proyect > .bottom-card > a {
  z-index: 2;
  font-weight: 200;
  padding: 0 20px;
  display: flex;

  justify-content: start;
  
  color: white !important;
}


.card-proyect > .bottom-card > span {
  z-index: 2;
  font-weight: 100;
  padding: 0 20px;
  font-size:0.9rem ;
  color: white !important;
}


/**style footer*/
/**Style footer*/
footer {
  padding-top: 50px;
  background: #005c53;
}

/** contactanos**/
.container-contact,
.descubreMas {
  border-right: 0.5px dashed #c9c9c9;
}

.container-contact span{
font-size: 0.8rem;

}


.container-contact span i {
  border-radius: 50px;
  background: white;
  padding: 10px;
  color: black;
  font-size: 1rem;
}
/**descubre mas*/
.descubreMas ul {
  margin: 0 !important;
  padding: 0 !important;
}
.descubreMas li {
  list-style: none;
  font-size: 0.8rem;
}
.siguenos-footer span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 5000px;
  border: none;
  background: white;
  padding: 18px;
  color: rgb(0, 0, 0);
}
.siguenos-footer i {
  font-size: 1.3rem;
}
.copyright {
  background: #004c44;
}

/**swiper style*/
/**paginacion modificada**/
.swiper-pagination {
  position: absolute;
  z-index: 10 !important;
}
.swiper-pagination-bullet-active {
  background: #004c44 !important;
}
.swiper-pagination-bullet {
  width: 25px;
  height: 5.3px;
  background: white;
  border-radius: 2px !important;
}
.swiper-pagination-bullet {
  background: #004c44;
}
.swiper-button-prev-proyect,
.swiper-button-next-proyect {
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background: #d2d0d0d8;
  border-radius: 50px;
/*  color:#fff !important;*/
}

.swiper-button-prev-proyect {
  top: 50%;
  left: 0;
}
.swiper-button-next-proyect {
  top: 50%;
  right: 0;
}
@media (max-width: 1198px) {
    .flex-proyectos {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
      .info-proyectos {
        width: 100%;
      }
      
  
      .container-swiper {
        padding: 10px;
        width: 100%;
      }
  }

.no-hover:hover{

  color :#005c53;
}