:root{
    --color-v1:rgb(232, 240, 156);
    --color-primary:rgb(0, 92, 83);

}
main{
    min-height: 100vh;
}
.color-primary{
    color: var(--color-primary);
}
.sub-title-main{
    padding: 10px 4px;
    background: var(--color-v1);
    color: black;
}

.title-main{
    border-bottom: 2px solid white;
}

.sub-title-main h3{
     font-size: 1.3rem;
}

.title-form{
    max-width: 600px;
}
main,.section-bg{
    color: white;
    background: linear-gradient(rgb(0, 92, 83) 0%, rgb(0, 150, 139) 100%);
}
main img,.img-responsive{
    width: 100%;
    max-height: 500px;
    object-fit: contain;
}
.form-landing input{
    padding: 10px;
    border-radius: 10px;
}
.w-full{
    width: 100%;
}
.form-landing input::placeholder{
    color: rgb(46, 46, 46);
}
.form-landing > span > button,.inversion-btn{
    background: var(--color-v1);
    width: max-content;
    padding: 10px 30px;
    border: none;
}
.text-porque-invertir{
    font-size: 3rem;
    color: var(--color-primary);
}
.img-servicios{
    width: 100%;
    max-height: 300px;
}
.title-servicios{
    font-size: 3rem;
}
.img-testimonio{
    width: 100%;
    max-height: 800px;
    object-fit: contain;
}

.container-thanks{
    width: 100%;
    height: 100vh;
}
.text-p-thanks{
    font-size: 2.5rem;
}
.btn-thanks{
    border-radius: 10px;
    color: black;
    text-align: center;
    text-decoration: none;
}
.contador{
    font-size: 5rem;
}


@media (max-width: 700px){
    .text-p-thanks{
        font-size: 1.5rem;
    }
}